bin/holo-boot-install
bin/holo-chroot
bin/holo-devmode
bin/holo-dump-info
bin/holo-factory-reset
bin/holo-factory-reset-config
bin/holo-finalize-install
bin/holo-mount
bin/holo-partition
bin/holo-partsets
bin/holo-readonly
bin/holo-verity
bin/holo-unminimize
libexec/holo-cfs-debugfs-settings
libexec/holo-create-homedir
libexec/steamos-finish-oobe-migration
systemd/etc.mount
systemd/holo-cfs-debugfs-tunings.service
systemd/holo-create-homedir.service
systemd/holo-dump-info.service
systemd/steamos-finish-oobe-migration.service
