bin/steamos-boot-install
bin/steamos-chroot
bin/steamos-clone
bin/steamos-factory-reset
bin/steamos-mount
bin/steamos-partsets
bin/steamos-verity
libexec/steamos-create-homedir
libexec/steamos-partsets-generator
systemd/*.mount
systemd/*.service
