[Unit]
Description=Initialize Pacman keyring
ConditionPathIsReadWrite=/
ConditionPathExists=!/etc/pacman.d/gnupg/
# TODO: harden the unit

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/pacman-key --init
ExecStart=/usr/bin/pacman-key --populate

[Install]
WantedBy=multi-user.target
