[Unit]
Description=Remove Pacman keyring
ConditionPathIsReadWrite=!/
ConditionPathExists=/etc/pacman.d/gnupg/
# TODO: harden the unit

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/rm -r /etc/pacman.d/gnupg/

[Install]
WantedBy=multi-user.target
