bin/update-mkinitcpio
initcpio/hw-profile.inst
initcpio/steamos.hook
initcpio/steamos.inst
mkinitcpio.d/*.hw.conf
alpm/hooks/*.hook
alpm/scripts/mkinitcpio-steamos-install
alpm/scripts/streamline-mkinitcpio-config
